.mainCard {
  background: rgb(46, 46, 46);
  background: linear-gradient(
    211deg,
    rgba(46, 46, 46, 1) 0%,
    rgba(47, 47, 47, 1) 100%
  );
  padding: 40px;
  border-radius: 10px;
}
.primaryBtn {
  background: #008700 !important;
  color: white !important;
  font-size: 20px !important;
  font-weight: 500 !important;
  height: 50px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Add your own styling to these classes */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-modal {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  width: 400px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header h2 {
  margin: 0;
}

.modal-body {
  margin-top: 10px;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

/* Adjust styling as needed */
